/*
Custom CSS Stylesheet
Author: Ngige Gitau
For: Book-A-Meal Web Application
Updated: 18th April 2018
*/

body{
	font: 15px/1.5 "Comic Sans MS", cursive, sans-serif;
	padding:0;
	margin:0;
	background-color:#f4f4f4;
}

/* ----- Global ----- */
.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}
ul{
	margin:0;
	padding:0;
}
.highlight{
	color:#09D647;
	font-weight:bold;	
}
.button_prime{
	height:38px;
	background:#109D3B;
	border-radius: 4px;	
	border:0;
	padding-left: 20px;
	padding-right:20px;
	color:#ffffff;
}
.button_nav{
	height:35px;
	background:#000000;
	border-radius: 4px;	
	border:0;
	padding-left: 20px;
	padding-right:20px;
	color:#09D647;
	margin-bottom: 3px;
	width: 15%; 	
}
.button_red{
	height:38px;
	background:#FD0215;
	border-radius: 4px;	
	border:0;
	padding-left: 20px;
	padding-right:20px;
	color:#ffffff;
	margin-bottom: 3px;
	
}
.dark{
	padding:15px;
	background:#000000;
	color:#ffffff;
	margin-top:10px;
	margin-bottom:10px;
}
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #000000;
    color: #09D647;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}
/* Add a background color to the button */
.active, .accordion:hover {
    background-color: #A8ABAC;
}
.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}
.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
/* Style input type text (Forms) */
input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 4px; 
    margin-bottom: 14px; 
    resize: vertical
}
/* Style input type email (Forms) */
input[type=email], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 4px; 
    margin-bottom: 14px; 
    resize: vertical 
}
/* Style input type password (Forms) */
input[type=password], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 4px; 
    margin-bottom: 14px; 
    resize: vertical 
}
/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #109D3B;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
/* Style the datetime-local input type */
input[type=datetime-local]{
	border-radius: 3px;
	background-color:#000000;
	height:30px;
	color:#09D647;
}
/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}


/* ----- Header ----- */
header{
	background:#000000;
	color:#ffffff;	
	min-height:70px;
	border-bottom:#09D647 3px solid;
}
header a{
	color:#ffffff;
	text-decoration:none;
	text-transform: uppercase;
	font-size:16px;
}
header li{
	float:left;
	display:inline;
	padding: 0 20px 20px 20px;
	margin-top:;
}
header #branding{
    float:left;
}
header #branding h1{
    margin:0;
}
header nav{
	float:right;
	margin-top:-50px;
}
header .highlight, header .current a{
	color:#09D647;
	font-weight:bold;	
}
header a:hover{
	color:#cccccc;
	font-weight:bold;
}


/* ----- Jumbotrn ----- */
#jumbotrn {
	border-radius:7px;
	padding:15px;
	color:#ffffff;
	background:#000000;
	margin-top: 25px; 
	margin-left: 400px; 
	margin-right: 400px;
}
#jumbotrn_container h2 {
	text-align: center; 
	color:#09D647; 
}
#jumbotrn_container p {
	font-size:8pt;
	text-align:center;
}
#jumbotrn_container a {
	text-decoration:none;
	color:#09D647;
}
#dash_container {
	border-radius: 4px;
}
#dash_container img {
	border: 2px solid #ddd; 
    border-radius: 4px; 
    padding: 5px; 
    width: 150px; 
	float:left;
	padding-left:0px;
}
#avatar{
	margin-top: 20px;
}
#avatar_stat{
	margin-left: 170px; 
	margin-top:70px;
}
#avatar_stat a{
	text-decoration: none;
	color: #ffffff; 	
}


/* ----- Index_caption ----- */
#index_caption{
	min-height:400px;
	margin:10px 0 10px 0;
	background-color:#000000;
	color:#ffffff;
}
#index_caption h1 {
	font-size:30px;
	text-align:center;
	margin-top:100px;
}
#index_caption p {
	text-align:center;
	font-size:20px;
	font-family:Arial;
}
#index_caption a {
	text-decoration:none;	
	color:#ffffff;
}
#main-col a {
	text-decoration: none;
	color: #09D647;
}
#editor_container{
	border-radius:3px;
	width:75%;
}
#add_entry_btn{
	float:right; 
	margin-bottom: 5px;
}
#signup-btn{
	margin-left:460px;
}
#entries_container img {
	margin-top: 4px;
    border: 1px solid #ddd; 
    border-radius: 4px;  
    padding: 5px; 
    width: 60%; 
	height: 200px;
	text-align: center;
}
#entries_container img:hover{	
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

/* ----- Footer ----- */
footer{
  padding:20px;
  margin-top:20px;
  color:#09D647;
  background-color:#000000;
  text-align: center;
  border-top:#09D647 3px solid;
}

